@import "tailwindcss";
@import "@nuxt/ui";

@theme static {
    --font-sans: 'Public Sans', sans-serif;
}

:root {
    --ui-bg: var(--ui-color-neutral-300);
    --ui-container: var(--container-4xl);
    --ui-primary: var(--ui-color-primary-700);
}

.dark {
    --ui-bg: var(--ui-color-neutral-950);
    --ui-primary: var(--ui-color-primary-500);
}

body {
    @apply antialiased text-default bg-default scheme-light dark:scheme-dark;
}

@utility app-layout {
    @apply gap-y-4 py-4;
}

@utility bg-logo {
    @apply bg-[url(https://avatars.githubusercontent.com/u/500234?s=400&u=623c6fa100138e5e8e681a959b0d7c8decbba90e&v=4)];
    @apply bg-no-repeat bg-center
}

.page-card {
    background: radial-gradient(circle at center, rgba(255,255,255,.9), var(--ui-bg) 90%);
}

@variant dark {
    .page-card {
        background: radial-gradient(circle at center, rgba(0,0,0,.99), var(--ui-bg) 90%);
    }
}