@import 'tailwindcss';
@import '@nuxt/ui';

/* Tailwind CSS classes in markdown files */
/* @source: https://ui.nuxt.com/getting-started/theme#source 
@source "../../../content";
 */

@theme static {
  --font-sans: 'Public Sans', sans-serif;
}

/* @theme: define your project's custom design tokens, like fonts, colors, and breakpoints */
@theme {
  --breakpoint-*: initial;
  --breakpoint-sm: 480px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 976px;
}

:root {
  --ui-container: var(--container-7xl);

  --ui-bg: var(--ui-color-neutral-200);
  --ui-primary: var(--ui-color-primary-700);
  --ui-background: 177 1% 100%;
  --ui-foreground: 177 52% 3.9%;
}

.dark {
  --ui-bg: var(--ui-color-neutral-950);
  --ui-primary: var(--ui-color-primary-500);
  --ui-background: 177 5% 3.9%;
  --ui-foreground: 177 5% 98%;
}

body {
  @apply antialiased text-xs bg-[--ui-background] scheme-light dark:scheme-dark;
}

/** Global styles */
@utility app-layout {
  @apply gap-y-4 py-4 h-full items-center;
  @apply grid grid-cols-1 grid-rows-[auto_1fr_auto];
}

@utility bg-glass {
  @apply bg-radial from-default/50 to-default;
}
